<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="MYSQL_HOST" value=""/>
        <env name="MYSQL_PORT" value=""/>
        <env name="MYSQL_DATABASE" value=""/>
        <env name="MYSQL_USER" value=""/>
        <env name="MYSQL_PASSWORD" value=""/>
    </php>
</phpunit>
